<%
var pageData = {
	path: '../../../',
	title: '',
	keywords: '',
	description: '',
	pnkzlabel: 'メールアドレス未登録'
};
%>
<!doctype html>
	<html lang="ja">
		<head>
			<%- include( '../../../includes/_head', { data: pageData } ) %>
		</head>
	
		<body>
			<%- include( '../../../includes/_header', { data: pageData } ) %>
			<div class="container complete complete_reset-02">
				<div class="complete_box">
					<p class="label">登録されていないメールアドレスです</p>
					<p>入力されたメールアドレスはボアオークションに登録されておりません。登録されたメールアドレスを入力してください。</p>
					<p><a href="../">パスワードの再設定へ戻る</a></p>
				</div>
			</div>
			<%- include( '../../../includes/_footer', { data: pageData } ) %>
			<%- include( '../../../includes/_scripts', { data: pageData } ) %>
		</body>
	</html>