				<div class="breadcrumb">
					<ul class="breadcrumb_list">
						<li><a href="<%= data.path %>"><img src="<%= data.path %>images/common/ico_home.svg" alt="ホーム"></a></li>
						<li><%= data.pnkzlabel %></li>
					</ul>
				</div>
