<footer class="footer">
	<div class="footer_inner">
		<h2 class="footer_title">BOAR Auction</h2>
		<div class="footer_row">
			<ul class="footer_menu">
				<li><a href="/request/">出品をご希望の方へ</a></li>
				<li><a href="/company/">運営会社</a></li>
				<li><a href="/terms/">利用規約</a></li>
				<li><a href="/sitemap/">サイトマップ</a></li>
			</ul>
			<p class="footer_copy"><small>Copyright &copy; 株式会社 地新 All Rights Reserved.</small></p>
		</div>
	</div>
</footer>

