.faq{
	&_flex{
		@include flexbox(space-between,flex-start);
	}
	&_main{
		width: 77.4%;
		max-width: 960px;
	}
	&_question{
		
	}
	&_sub{
		min-width: 140px;
		ul{
			li{
				a{
					display: inline-block;
					padding-bottom: 8px;
					@include fts(14,14);
					color: $black;
					text-decoration: none;
					border-bottom: 1px solid $pale;
					@include link_transition(all,.3s,ease-out);
					&.is-current{
						border-bottom: 3px solid $black;
					}
					&:hover{
						opacity: .8;
					}
				}
			}
			li+li{
				margin-top: 24px;
			}
		}
	}
}