.mypage{
	.list_content{
		margin-bottom: 60px;
		li{
			a{
				padding: 40px 0;
			}
		}
	}
	@include for-size(phone-only){
		.list_content{
			margin-top: 48px;
		}
	}
}


.member_info{
	.list_content{
		margin-bottom: 60px;
		li{
			padding: 28px 0;
			position: relative;
			.expand{
				position: absolute;
				right: 0;
				top: 20px;
				a{
					color: $black;
					text-decoration: underline;
					@include fts(14,25);
				}
			}
		}
	}
	@include for-size(phone-only){
		.list_content{
			margin-bottom: 48px;
		}
	}
	
	
}

.reservations{
	min-height: calc(100vh - 288px);
	&_text{
		p{
			color: $greyish;
			@include fts(15,25);
		}
		p+p{margin-top: 12px;}
		&_noindex{
			p{
			color: $greyish;
			@include fts(16,24);
		}
		p+p{margin-top: 20px;}
		}
	}
	@include for-size(phone-only){
		min-height: calc(100vh - 319px);
		&_text{
			p{
				color: $greyish;
				@include fts(15,25);
			}
			p+p{margin-top: 12px;}
			&_noindex{
			p{
				color: $greyish;
				@include fts(14,25);
			}
				p+p{margin-top: 16px;}
			}
		}
	}
}

.auctiondetail{
	background-color: $off-white;
	&_wrapper{
		width: 100%;
		background: $very-light-pink;
	}
	&_head{
		padding-top: 120px;
		padding-bottom: 100px;
		h1{
			margin-bottom: 20px;
			@include fts(36,36);
			font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
			font-weight: bold;
		}
		dl{
			@include flexbox(flex-start,flex-start);
		}
		dl+dl{
			margin-top: 15px;
		}
		dt{
			width: 88px;
			@include fts(15,23);
			font-weight: 500;
		}
		dd{
			width: calc(100% - 88px);
			@include fts(15,26);
		}
	}
	&_excerpt{
		margin-bottom: 30px;
		@include fts(15,26);
	}
	&_listing{
		margin-top: 30px;
		position: relative;
		@include flexbox(space-between,flex-end);
	}
	&_link{
		@include fts(14,25);
		a{
			position: relative;
			text-decoration: none;
			color: $black;
			@include link_transition(all,.3s,linear);
			&:after{
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 1px;
				bottom: -8px;
				left: 0;
				background-color: $black;
				content: '';
			}
			&:hover{
				&:after{
					height: 3px;
				}
			}
		}
	}
	&_btn{
		@include flexbox(center,center);
		width: 360px;
		height: 60px;
		margin: 80px 0 48px;
		@include fts(16,16);
		color: $very-light-pink;
		text-decoration: none;
		background-color: $black;
		@include link_transition(all,.15s,linear);
		&:hover{
			opacity: .75;
		}
	}
	@include for-size(phone-only){
		&_head{
			padding-top: 100px;
			padding-bottom: 68px;
			h1{
				margin-bottom: 16px;
				@include fts(28,36);
			}
			dt{
				@include fts(14,21);
			}
			dd{
				@include fts(14,25);
			}
		}
		&_body{
			padding-top: 0;
		}
		&_excerpt{
			margin-bottom: 28px;
			@include fts(14,25);
		}
		&_listing{
			margin-top: 28px;
		}
		&_btn{
			width: 100%;
			height: 56px;
			margin: 60px 0 48px;
			@include fts(15,15);
		}
	}
}
