.notice{
	&-list{
		&_row{
			display: block;
			width: 100%;
			text-decoration: none;
		}
		&_row+&_row{
			margin-top: 60px;
		}
		&_head{
			margin-bottom: 8px;
			@include flexbox(space-between,center);
			font-family: Montserrat;
			.date{
				@include fts(18,18);
				font-weight: 300;
				color: $brown-grey;
				letter-spacing: 0.72px;
			}
			.cat{
				@include fts(12,12);
				font-weight: 500;
				color: $greyish;
				text-transform: uppercase;
			}
		}
		&_title{
			@include fts(16,24);
			color: $black;
			font-weight: 500;
			padding-bottom: 4px;
			@include link_transition(all,.3s,ease-out);
			position: relative;
			text-decoration: none;
			background: linear-gradient($black, $black) 0 100%/0 1px no-repeat;
			&:hover{
				background-size: 100% 1px;
			}
		}
		&_pagenation{
			@include flexbox(flex-start,center);
			li{
				a{
					@include flexbox(center,center);
					position: relative;
					width: 24px;
					height: 20px;
					@include fts(14,14);
					color: $black;
					text-decoration: none;
					&:before{
						display: inline-block;
						position: absolute;
						bottom: -5px;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $pale;
						content: '';
					}
					&.is-current{
						&:before{
							display: inline-block;
							position: absolute;
							bottom: -5px;
							left: 0;
							width: 100%;
							height: 3px;
							background-color: $black;
							content: '';
						}
					}
					&:hover{
						&:before{
							display: inline-block;
							position: absolute;
							bottom: -5px;
							left: 0;
							width: 100%;
							height: 3px;
							background-color: $black;
							content: '';
							animation-name: fadeup;
							animation-duration: .3s;
						}
					}
				}
			}
			li+li{
				margin-left: 16px;
			}
		}
	}
	&-detail{
		padding-bottom: 220px;
		.wrapper {
			padding: 80px 0 0;
		}
		&_data{
			@include flexbox(space-between,center);
			margin-bottom: 12px;
			.date{
				@include fts(14,14);
				color: $brown-grey;
			}
			.cat{
				@include fts(14,14);
				color: $greyish;
				font-family: Montserrat;
				font-weight: 500;
			}
		}
		&_title{
			@include fts(28,39);
			margin-bottom: 39px;
			font-weight: bold;
		}
		p{
			@include fts(15,26);
			margin-bottom: 35px;
		}
		h2{
			position: relative;
			display: block;
			padding-bottom: 7px;
			margin-bottom: 36px;
			@include fts(18,27);
			font-weight: 500;
			&:after{
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: $pale;
				content: '';
			}
		}
		h3{
			position: relative;
			padding-left: 11px;
			margin-bottom: 37px;
			@include fts(16,24);
			font-weight: 500;
			border-left: 1px solid $pale;
		}
		table{
			width: 100%;
			margin-top: 35px;
			box-sizing: border-box;
			border: 1px solid $pale;
			border-collapse: collapse;
			table-layout: fixed;
			tr{
				th{
					padding: 15px;
					@include fts(15,23);
					font-weight: 500;
					background-color: $off-white;
					text-align: left;
					border: 1px solid $pale;
				}
				td{
					padding: 15px;
					@include fts(15,26);
					text-align: left;
					vertical-align: middle;
					border: 1px solid $pale;
				}
			}
		}
	}
	@include for-size(phone-only){
		&-list{
			&_title{
				background: none;
				&:hover{
					background-size: 0 0;
				}
			}
		}
		&-detail{
			padding-bottom: 157px;
			&_title{
				@include fts(20,28);
				margin-bottom: 40px;
			}
			p{
				@include fts(14,25);
				margin-bottom: 28px;
			}
			h2{
				padding-bottom: 8px;
				margin-bottom: 28px;
				@include fts(16,24);
			}
			h3{
				margin-bottom: 28px;
				@include fts(15,23);
			}
			table{
				margin-top: 40px;
				tr{
					th{
						@include fts(14,21);
					}
					td{
						@include fts(14,26);
					}
				}
			}
		}
		&-list{
			&_row+&_row{
				margin-top: 40px;
			}
			&_title{
				@include fts(15,23);
			}
		}
	}
}