.top{
	&_title{
		margin-bottom: 32px;
		@include fts(16,28);
		color: $brown-grey;
		font-weight: normal;
		span{
			@include fts(60,73);
			margin-bottom: 8px;
			color: $black;
		}
	}
	&_main{
		position: relative;
		height: 930px;
		margin-top: -78px;
		margin-bottom: 200px;
		max-width: 1600px;
	}
	&_visual{
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		width: percentage(960/1600);
		max-width: 960px;
		img{
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
	}
	&_container{
		width: percentage(500/1600);
		position: absolute;
		top: 50%;
		right: percentage(180/1600);
		z-index: 98;
		transform: translateY(-50%);
		>p{
			margin-bottom: 40px;
			@include fts(15,26);
		}
	}
	&_name{
		margin-bottom: 40px;
		@include font-en;
		font-size: vw(112,1600);
		line-height: 1;
		letter-spacing: -1.12px;
		color: $black;
		font-weight: 600;
	}
	&_sub-title{
		margin-bottom: 30px;
		font-weight: 500;
		font-size: vw(28,1600);
		line-height: vw(41,1600);
	}
	&_register{
		@include flexbox(center,center);
		width: 100%;
		max-width: 360px;
		height: 60px;
		@include fts(16,16);
		color: $very-light-pink;
		text-decoration: none;
		background-color: $black;
		pointer-events: auto;
		@include link_transition(all,.15s,linear);
		&:hover{
			opacity: .75;
		}
	}
	&_fixed{
		position: fixed;
		bottom: 0;
		left: 0;
		@include link_transition(all,.3s,linear);
		z-index: 3;
		box-sizing: border-box;
		width: 400px;
		padding: 24px 28px;
		background-color: rgba(0,0,0,0.9);
		a{
			position: relative;
			display: block;
			width: 100%;
			text-decoration: none;
			color: $very-light-pink;
			@include fts(14,25);
			.label{
				margin-bottom: 7px;
				@include fts(15,15);
				font-weight: 500;
			}
		}
			&:hover{
				background-color: rgba(0,0,0,1);
			}
		#btn-none {
			position: absolute;
			top: 24px;
			right: 28px;
			display: block;
			width: 16px;
			height: 16px;
			cursor: pointer;
			z-index: 2;
			img {
				width: 100%;
				height: auto;
				vertical-align: top;
			}
		}
		#close:checked ~ .btn {
		    display: none;
		}
		#close:checked ~ .top_fixed_content {
		    display: none;
		}
	}
	&_auctions{
		@include flexbox(flex-end,flex-start);
		height: 500px;
		margin: 0 0 0;
		&_img{
			position: relative;
			width: 50vw;
			height: 500px;
			margin-left: 0;
			overflow: hidden;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&_inner{
			width: 32.5vw;
			margin-right: 0;
			margin-left: 17.5vw;
			padding-top: 5vw;
			>p{
				width: 25vw;
				margin-bottom: 30px;
			}
		}
	}
	&_items{
		max-width: 75vw;
		margin: 12.5vw auto 0;
		height: 450px;
		background-image: url('../images/top/img_items-pc.jpg');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		&_inner{
			width: 100%;
			margin: 0;
			padding: 5vw 100px 40px;
			box-sizing: border-box;
			>p{
				width: 25vw;
				margin-bottom: 30px;
			}
		}
	}
	&_howtouse{
		@include flexbox(flex-start,flex-start);
		height: 500px;
		margin: 12.5vw auto 0;
		&_img{
			position: relative;
			width: 50vw;
			height: 500px;
			margin-right: 7.5vw;
			overflow: hidden;
			@include link_transition(all,.3s,linear);
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			&:before{
				position: absolute;
				@include flexbox(center,center);
				content: '';
				background-color: rgba(32,32,32,0.8);
				width: 15%;
				height: 75px;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
			&:after{
				position: absolute;
				display: block;
				content: '';
				width: 0;
				height: 0;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				border-style: solid;
				border-width: 14px 0 14px 24px;
				border-color: transparent transparent transparent #ffffff;
				z-index: 2;
			}
			&:hover{
				&:before{
					background-color: $black;
				}
			}
		}
		&_inner{
			width: 42.5vw;
			margin: 0 auto;
			padding-top: 5vw;
			>p{
				width: 25vw;
				margin-bottom: 30px;
			}
		}
	}
	&_news{
		@include flexbox(space-between,flex-start);
		width: 1180px;
		max-width: 75vw;
		margin: 12.5vw auto 0;
		&_head{
			width: 37.3%;
		}
		&_body{
			width: 62.7%;
			max-width: 740px;
		}
		&_list{
			li{
				a{
					text-decoration: none;
					.detail{
						margin-bottom: 8px;
						@include flexbox(space-between,center);
						font-family: Montserrat;
					}
					.date{
						@include fts(18,18);
						color: $brown-grey;
						font-weight: 300;
					}
					.cat{
						@include fts(12,12);
						color: $greyish;
						font-weight: 500;
					}
					.title{
						@include fts(16,24);
						color: $black;
						display: inline-block;
						position: relative;
						&:after{
							@include link_transition(all,.3s,ease-in);
							display: block;
							margin-top: 3px;
							height: 1px;
							background: $black;
							width: 0%;
							content: "";
						}
					}
					&:hover{
						.title{
							&:after{
								width: 100%;
							}
						}
					}
				}
			}
			li+li{
				margin-top: 60px;
			}
		}
	}
	&_faq{
		@include flexbox(space-between,flex-start);
		width: 1180px;
		max-width: 75vw;
		margin: 12.5vw auto 200px;
		&_head{
			width: 37.3%;
		}
		&_body{
			width: 62.7%;
			max-width: 740px;
		}
		&_list{
			li{
				.question{
					position: relative;
					padding-left: 32px;
					margin-bottom: 14px;
					@include fts(16,24);
					font-weight: 500;
					&:before{
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						content: 'Q';
						@include fts(20,24);
						font-weight: 600;
						font-family: Montserrat;
					}
				}
				.answer{
					position: relative;
					padding-left: 32px;
					@include fts(15,26);
					&:before{
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						content: 'A';
						@include fts(20,24);
						color: $brown-grey;
						font-weight: 300;
						font-family: Montserrat;
					}
				}
			}
			li+li{
				margin-top: 60px;
			}
		}
	}
	&_link{
		text-decoration: none;
		position: relative;
		color: $black;
		&:after{
			@include link_transition(all,.15s,linear);
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			bottom: -7px;
			left: 0;
			background-color: $black;
			content: '';
		}
		&:hover{
			&:after{
				height: 3px;
			}
		}
	}
	&_footerimg{
		width: 100%;
		height: auto;
	}
	@include for-size(phone-only){
		&_main{
			position: relative;
			height: auto;
			margin-top: -81px;
			margin-bottom: 0;
		}
		&_visual{
			position: static;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			max-width: auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&_container{
			width: 100%;
			padding: 0 60px 0 24px;
			box-sizing: border-box;
			position: relative;
			top: -100px;;
			right: auto;
			transform: translateY(0%);
			>p{
				margin-bottom: 40px;
				@include fts(15,26);
			}
		}
		&_name{
			@include fts(60,60);
		}
		&_sub-title{
			margin-bottom: 32px;
			@include fts(20,20);
		}
		&_fixed{
			width: 100%;
			z-index: 99;
		}
		&_title{
			margin-bottom: 32px;
			@include fts(14,25);
			span{
				@include fts(36,48);
				margin-bottom: 4px;
			}
		}
		&_auctions{
			flex-direction: column-reverse;
			height: auto;
			margin: 0 24px 0;
			&_img{
				width: 100%;
				height: 228px;
			}
			&_inner{
				width: 100%;
				margin-left: 0;
				padding-top: 32px;
				>p{
					width: 100%;
					margin-bottom: 30px;
					@include fts(14,25);
				}
			}
		}
		&_items{
			background-image: none;
			height: auto;
			margin: 100px 24px 0;
			max-width: 100%;
			height: auto;
			&_img{
				width: 100%;
				height: 228px;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			&_inner{
				width: 100%;
				margin-left: 0;
				padding: 32px 0 0;
				>p{
					width: 100%;
					margin-bottom: 30px;
					@include fts(14,25);
				}
			}
		}
		&_howtouse{
			flex-direction: column;
			height: auto;
			margin: 100px 24px 0;
			&_img{
				position: relative;
				width: 100%;
				height: 230px;
				margin-right: 0;
				&:before{
					width: 120px;
				}
			}
			&_inner{
				width: 100%;
				margin: 0;
				padding-top: 32px;
				>p{
					width: 100%;
					margin-bottom: 30px;
					@include fts(14,25);
				}
			}
		}
		&_news{
			flex-direction: column;
			width: calc(100vw - 48px);
			max-width: calc(100vw - 48px);
			margin: 100px 24px 0;
			&_head{
				width: 100%;
			}
			&_body{
				width: 100%;
				max-width: 100%;
			}
			&_list{
				margin-bottom: 32px;
				li{
					a{
						.title{
							@include fts(15,23);
							color: $black;
						}
					}
				}
				li+li{
					margin-top: 32px;
				}
			}
		}
		&_faq{
			flex-direction: column;
			width: calc(100vw - 48px);
			max-width: calc(100vw - 48px);
			margin: 100px 24px 100px;
			&_head{
				width: 100%;
			}
			&_body{
				width: 100%;
				max-width: 100%;
			}
			&_list{
				margin-bottom: 32px;
				li{
					.question{
						margin-bottom: 15px;
						@include fts(15,23);
					}
					.answer{
						@include fts(13,23);
					}
				}
				li+li{
					margin-top: 32px;
				}
			}
		}
		&_link{
			@include fts(14,14);
		}
	}
}