.breadcrumb{
	&_list{
		@include flexbox(flex-start,center);
		overflow: scroll;
		li{
			margin-right: 24px;
			position: relative;
			@include fts(14,14);
			color: $black;
			white-space: nowrap;
			a{
				color: $greyish;
				text-decoration: none;
				@include fts(14,14);
				&:hover{
					text-decoration: underline;
				}
				img{
					vertical-align: middle;
					width: 18px;
					height: 18px;
				}
			}
		}
		li+li{
			position: relative;
			&:before {
				width: 12px;
				height: 12px;
				background: url(../images/common/ico_arrow_left.svg) no-repeat 0 0;
				background-size: 12px 12px;
				display: block;
				position: absolute;
				left: -16px;
				margin-top: -5px;
				top: 50%;
				content: "";
			}
		}
	}
	@include for-size(phone-only){
		&_list{
			width: calc(100% + 24px);
			margin-right: -24px;
			margin-bottom: -10px;
			padding-bottom: 10px;
		}
	}
}
