.card{
	&_list{
		@include flexbox(flex-start,flex-start);
		flex-wrap: wrap;
	}
	&_item{
		width: 48.5%;
		margin: 0 0 30px;
		&:nth-child(even){margin-left: auto;}
	}
	&_img{
		margin-bottom: 12px;
		overflow: hidden;
		a{
			img{
				@include link_transition(all,.3s,ease-in);
				width: 100%;
				height: vw(175,960);
				object-fit:cover;
				vertical-align: bottom;
			}
			&:hover{
				img{
					transform: scale(1.2,1.2);
				}
			}
			&.is-sold{
				display: block;
				position: relative;
				background-color: $black;
				pointer-events: none;
				img{
					opacity: .7;
				}
				&:before{
					position: absolute;
					@include flexbox(flex-end,flex-end);
					content: '';
					bottom: -3px;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 60px 0 0 60px;
					border-color: transparent transparent transparent $black;
					z-index: 2;
				}
				&:after{
					position: absolute;
					content: '落札済';
					bottom: 15px;
					left: 2px;
					color: $very-light-pink;
					@include fts(12,12);
					transform: rotate(45deg);
					z-index: 3;
				}
			}
		}
	}
	&_content{
		.name{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			a{
				color: $black;
				text-decoration: none;
				@include fts(15,23);
				font-weight: 500;
				position: relative;
				&:after{
					@include link_transition(all,.3s,ease-in);
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0%;
					height: 1px;
					background: $black;
					content: "";
				}
				&:hover{
					&:after{width: 100%;}
				}
			}
		}
		.auction{
			color: $brown-grey;
			@include fts(14,25);
		}
	}
	&_row{
		@include flexbox(flex-start,center);
	}
	&_info{
		span{
			color: $brown-grey;
			@include fts(14,25);
		}
		span+span{margin-left: 12px;}
	}
	&_bookmark{
		&_pickup{
			position: relative;
			&:before{
				@include flexbox(center,center);
				position: absolute;
				top: 0;
				right: 0;
				width: 51px;
				height: 32px;
				background-color: $black;
				content: "注目";
				@include fts(13,13);
				color: $very-light-pink;
				z-index: 2;
			}
		}
		margin-left: auto;
		position: relative;
		img{
			vertical-align: middle;
			width: 20px;
			height: 20px;
		}
		&_badge{
			&.is-active{
				.default{display: none;}
				.selected{display: block;}
			}
			&:not(.is-active){
				.default{display: block;}
				.selected{display: none;}
				position: relative;
				cursor: pointer;
				z-index: 10;
				&:before{
					display: block;
					position: absolute;
					top: 26px;
					left: 8px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 4px 6px 4px;
					@include link_transition(all,.15s,ease-in);
					border-color: transparent transparent $black transparent;
					content: "";
					opacity: 0;
					z-index: 1;
				}
				&:after{
					@include link_transition(all,.15s,ease-in);
					position: absolute;
					top: 32px;
					left: -32px;
					display: block;
					padding: 3px 10px;
					color: #fff;
					@include fts(12,12);
					width: 92px;
					box-sizing: border-box;
					text-align: center;
					background: $black;
					content: "ブックマーク";
					opacity: 0;
					z-index: 2;
				}
				&:hover{
					&:before{
						opacity: 1;
					}
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	@include for-size(phone-only){
		&_list{
			@include flexbox(space-between,flex-start);
			gap: 0 0;
		}
		&_item{
			width: 48%;
			max-width: 100%;
			margin: 0 0 40px;
			&:nth-child(even){margin-left: auto;}
		}
		&_img{
			a{
				img{
					height: vw(100,414);
				}
				&.is-sold{
					&:before{
						border-width: 50px 0 0 50px;
					}
					&:after{
						content: '落札済';
						bottom: 12px;
						left: 2px;
					}
				}
			}
		}
		&_content{
			.name{
				a{
					@include fts(13,20);
				}
			}
			.auction{
				@include fts(12,18);
			}
		}
		&_info{
			span{
				@include fts(12,18);
			}
			span+span{margin-left: 8px;}
		}
		&_bookmark{
			&_pickup{
				position: relative;
				&:before{
					@include flexbox(center,center);
					position: absolute;
					top: 0;
					right: 0;
					width: 47px;
					height: 25px;
					background-color: $black;
					content: "注目";
					@include fts(11,11);
				}
			}
			margin-left: auto;
			position: relative;
			img{
				vertical-align: middle;
				width: 18px;
				height: 18px;
			}
			&_badge{
				&:not(.is-active){
					&:before{
						display: none;
					}
					&:after{
						display: none;
					}
				}
			}
		}
	}
	@include for-size(desktop-up){
		&_list{
			gap: 0 30px;
			position: relative;
		}
		&_item{
			width: percentage(280/960);
			max-width: 280px;
			margin-bottom: 60px;
			&:nth-child(even){margin-left: 0;}
		}
		&_img{
			a{
				img{
					max-height: 175px;
				}
			}
		}
	}
}