.footer{
	background: $black;
	padding: 60px 0 60px;
	&_inner{
		padding: 0 24px;
	}
	&_title{
		color: #fff;
		@include font-en;
		font-weight: 700;
		margin-bottom: 16px;
		@include fts(24,24);
		img{
			width: 140px;
			height: 35px;
		}
	}
	&_row{
		@include flexbox(flex-start,flex-end);
	}
	&_menu{
		@include flexbox(flex-start,flex-end);
		flex-wrap: wrap;
		width: 68%;
		li{
			margin-right: 16px;
			a{
				color: #fff;
				@include fts(13,23);
				white-space: nowrap;
				text-decoration: none;
			}
		}
	}
	&_copy{
		width: 50%;
		color: #fff;
		text-align: right;
		@include fts(13,23);
	}
	&_top{
		position: fixed;
		right: 0;
		bottom: 0;
		width: 64px;
		height: 64px;
		a{
			display: block;
			width: 64px;
			height: 64px;
			@include link_transition(all,.3s,ease-out);
			z-index: 100;
			opacity: 0;
			background-color: rgba(0,0,0,0.38);
			&.is-showed{
				opacity: 1;
			}
			img{
				width: 100%;
				height: auto;
			}
			
		}
	}
	@include for-size(phone-only){
		padding: 40px 0 40px;
		&_title{
			@include fts(24,24);
			font-weight: 700;
			text-align: center;
		}
		&_row{
			flex-direction: column;
		}
		&_menu{
			@include flexbox(center,center);
			flex-wrap: wrap;
			margin-bottom: 16px;
			width: 100%;
			li{
				margin-right: percentage(16/414);
				a{
					color: #fff;
					@include fts(12,12);
					text-decoration: none;
				}
			}
		}
		&_copy{
			margin-left: 0;
			width: 100%;
			color: #fff;
			text-align: center;
			@include fts(12,12);
		}
		&_top{
			width: 48px;
			height: 48px;
			a{
				width: 48px;
				height: 48px;
			}
		}
	}
	@include for-size(desktop-up){
		&_inner{
			max-width: 1360px;
			margin: 0 auto;
		}
	}
}



