.remodal{
	max-width: 960px;
	background: $very-light-pink;
	text-align: left;
	padding: 70px 120px;
	box-sizing: border-box;
	&[data-remodal-id^="gallery-"]{
		padding: 48px 120px;
	}

	&-overlay{
		background: rgba(0,0,0,.6);
	}
	.row+.row{margin-top: 24px;}
	
	@include for-size(phone-only){
		padding: percentage(30/414) percentage(15/414);
		&[data-remodal-id^="gallery-"]{
			padding:  percentage(24/414)  percentage(30/414);
		}
	}
}