<%
var pageData = {
	path: './',
	title: '404｜ITソリューションとコンテンツマーケティングの株式会社grooo(グロー）',
	keywords: '',
	description: '株式会社grooo(グロー）は、お客様のビジネスに貢献するITソリューション事業「ソフトウェア開発・ベトナムでのラボ型オフショア開発・統合図書館ソリューション」と、WEBコンテンツ記事制作を手がけるコンテンツマーケティング事業を展開しております。'
};
%><!doctype html>
<html lang="ja">
<head>
<%- include( 'includes/_head', { data: pageData } ) %>
</head>
<body class="page page-404 header-color">
	<div class="wrap">
		<%- include( 'includes/_header', { data: pageData } ) %>
		<main class="site-main">
			<div class="page-contents">
				<div class="contents-404">
					<div class="image-404">
						<img src="./images/404/img-404@2x.png" alt="">
					</div><!-- /.image-404 -->
					<h1><span>404 Not Found</span><br>
					お探しのページは見つかりませんでした。</h1>
					<div class="message-404">
						<p>お探しのページは削除されたか、URLが変わった為、表示ができませんでした。<br>
							その他のページにアクセス刷るには下記リンクからお進みください。</p>
					</div><!-- /.message-404 -->
				</div><!-- /.contents-404 -->
				<div class="page-lower-meta page-meta">
					<p class="back-top-link blue"><a href="./" class="back-top-link_link">Top</a></p>
				</div><!-- /.page-lower-meta -->
			</div><!-- /.page-contents -->
		</main><!-- /.site-main -->
		<%- include( 'includes/_footer', { data: pageData } ) %>
	</div><!-- /.wrap -->
</body>
</html>

